<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Earth Trek</title>

  <link rel="stylesheet" href="../../public/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div id="earth"></div>
        <h1>Earth Trek</h1>
        
        <div class="login">
            <p id="loginTxt">Log-In:</p>
            <input type="e-mail" placeholder="Username" id="username">
            <input type="password" placeholder="Password" id="password">
            <button id="loginBtn">Go!</button>
        </div>
    </header>

  

    <div id="hero"></div>

    <div class="adventure">
        <p class="share">
          life is a great 
          <br>
          <span>Adventure</span> 
        </br>
      </p>
    </div>

    <h2 id="signupTxt">Register:</h2>

    <div class="signup">
        

        <div class="column">
            <input type="text" placeholder="First Name" id="firstname"/>
            <input type="e-mail" placeholder="Enter an E-Mail Address" id="email"/>
        </div>
        <div class="column">
            
            <input type="text" placeholder="Last Name" id="lastname"/>
            <input type="password" name="" placeholder="Create Password" id="pass"/>
        </div>    
    </div>

    <div id="Btn">
    <button id="signupBtn">Go!</button> 
</div>

    <footer>

    </footer>


</body>

</html>