
<body id="userBody">
    <header id="navBar">
        <nav>
            <h2 id="welcome">Welcome, <span>{{user}}</span></h2>

            <button class="navBtn">My Posts</button>
            <button class="navBtn">My Wishlist</button>
            <button class="navBtn">Log-Out</button>
        </nav>
    </header>

    <section>
        <div id="post">
            <input type="text" placeholder="Share your experience..."/>
            <button id="postBtn">Post</button>
        </div>
    </section>

    <div></div>

    <footer>

    </footer>
    
</body>
