<<<<<<< Updated upstream
=======
{{#with user}}
<body id="userBody">
  <header id="navBar">
    <nav>
      <h2 id="welcome">Welcome, <span>{{firstName}}</span></h2>
>>>>>>> Stashed changes

<body id="userBody">
    <header id="navBar">
        <nav>
            <h2 id="welcome">Welcome, <span>{{user}}</span></h2>

            <button class="navBtn">My Posts</button>
            <button class="navBtn">My Wishlist</button>
            <button class="navBtn">Log-Out</button>
        </nav>
    </header>

    <section>
        <div id="post">
            <input type="text" placeholder="Share your experience..."/>
            <button id="postBtn">Post</button>
        </div>
    </section>

<<<<<<< Updated upstream
    <div></div>

    <footer>

    </footer>
    
</body>
=======
</body>
{{/with}}
<script src="/assets/profile.js"></script>

{{#if logged_in}}
  <script src="/assets/logout.js"></script>
  {{/if}}
>>>>>>> Stashed changes
